* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(46, 204, 231);
  height: 100vh;
}

#container {
  height: 100%;
  display: grid;
  place-items: center;
}

.clock {
  border: 1em solid white;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  position: relative;
}

.hand {
  border: 3px solid black;
  background-color: black;
  position: absolute;
  top: 50%;
  z-index: 10;
  transform-origin: 100%;
  transition: all 0.5s;
  width: 50%;
  transform: translateY(-50%);
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
